/**
* reset.css
*/
html,body,head,div,ul,ol,li,iframe,frameset,frame,p,h1,h2,h3,h4,h5,h6,form,dl,dt,dd,table,tbody,thead,tfoot,tr,th,td,col,
a,b,em,i,label,span,legend,fieldset,button,input,select,option,map,img,textarea,br{padding:0px;margin:0px;}
/*border合并为单独边框*/
table {border-collapse:collapse;border-spacing:0;}
/*默认不能改变大小*/
textarea{overflow:auto;resize:none;}
fieldset,img,abbr {border:0} 
ol,ul{list-style:none}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
h1,h2,h3,h4,h5,h6,small{font-size:100%;font-weight:normal}
caption,th {text-align:left}
body{background:#fff;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:underline}
body{font-size: 14px}
/*
原子
*/
.fl{float:left;}
.fr{float:right;}
.btn{padding:5px 15px;background: #fe7800;font-size:14px;color: #ffffff;border: 1px solid #ff6600; border-radius: 4px;vertical-align:middle;display: inline-block;text-align: center;cursor:pointer}
.btn-skin1{background:#3A90DA;border:1px solid #3A90DA}
.triangle {display:inline-block;height: 0;width: 0;border-right: 5px solid transparent;border-top: 5px solid #7C7773;border-left: 5px solid transparent;}

/*
组件
*/
.topheader-top{background: #3d3b3a;height:.9rem;position: fixed;top:0;left:0;width:100%;text-align:center;line-height:.9rem;}
.topheader-top .icon-shouye{position: absolute;color:#fff;top:-1px;left:.28rem;vertical-align: middle;font-size:.48rem;}
.topheader-top .icon-zhanghu{position: absolute;color:#fff;top:-1px;right:.28rem;vertical-align: middle;font-size:.48rem;}
.topheader-holder{height:.9rem;width:100%;}
.topheader-top .ipt-wrap{width:5rem;margin:0 auto;height:100%;position: relative;}
.topheader-top .btn-s{position: absolute;right:.28rem;top:0;color:#ACA6A2}
.topheader-top input{border:0;background:#fff;height:.56rem;border-radius: .56rem;margin-top:.17rem;width:3.7rem;padding:0 1rem 0 .3rem;vertical-align: top;}
.topheader-second{background: #FBF7F2;border-bottom: 1px solid #CBC9C5;text-align: center;position: fixed;top:.9rem;left:0;height:.73rem;line-height: .73rem;width:100%;font-size:.3rem;}
.topheader-second .icon-fenxiang{position: absolute;right:.3rem;top:0;font-size: .42rem;color:#3C3A38}
.detailheader-top{background: #faf7f3;font-size:14px;border-bottom:1px solid #cbc9c6;height:.73rem;line-height:.73rem;position: fixed;top:0;left:0;width:100%;text-align:center;}
.detailheader-top .title{font-size:16px;}
.detailheader-top .font_family{position: absolute;left:.26rem;color:#a5a29e;}
.detailheader-holder{height: .73rem;width:100%;margin-bottom: .3rem;}
.c-alert{position: fixed;left: 0;top: 50%;width:100%;text-align: center}
.c-alert .txt{padding: 10px 20px;background-color: rgba(0, 0, 0, .8);color: #fff;border-radius: 5px;display: inline-block;margin-top:-.3rem;}

/*
* 页面
*/
.home-slider{position:relative}
.carousel {position: relative;color:#fff;}
.carousel img{max-width:100%;}
.home-slider .dots{width: 100%;position: absolute;bottom: 10px;justify-content: center;display: flex;}
.home-slider .dots span{ display: flex;width: 10px;height: 10px;background: #fff;opacity:0.3;border-radius: 50%;margin:0 5px;}
.home-slider .dots .active{opacity:1;}

.detail-wrap{width:100%;height:100%;position: fixed;left:0;top:0;overflow: hidden;background: #000;}
.detail-wrap .font_family{position:fixed;color:#fff;font-size:.32rem;}
.detail-wrap .swipe-wrap {overflow: hidden;position: relative;text-align: center;}
.detail-wrap .swipe-wrap > .img-outer {float:left;width:100%;position: relative;}
.detail-wrap .img-wrap{width:100%;display: flex;  flex-direction: row;align-items: center;justify-content: center;}
.detail-wrap .img-wrap img{max-width: 100%;max-height: 100%;width:100%;height:80%;vertical-align: middle;}
.detail-wrap .picInfo{background-color: rgba(0, 0, 0, .3);width:100%;height:2.6rem;position:fixed;bottom:0;left:0;color:#fff;font-size:.24rem;line-height: .36rem}
.detail-wrap .picInfo span{display: inline-block;vertical-align: middle}
.detail-wrap .pi-l{float:left;margin:.25rem 0 0 .25rem;width:2.4rem;}
.detail-wrap .pi-r{float:left;margin:.25rem 0 0 .2rem;width:4.2rem;}
.limit-w{display: inline-block;max-width: 1.4rem;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;vertical-align: middle;}

.form-outer{width:84%;margin:0 auto;}
.form-outer input[type=text], .form-outer input[type=password]{width:95%;height:.78rem;margin-bottom: .2rem;padding-left:5%;font-size:14px;border:1px solid #cbc9c6;border-radius: 4px;}
.form-outer .login-btn{width:100%;height:.78rem;padding:0;line-height: .78rem;font-weight: bold;font-size:16px;border-radius: 4px;}
.form-outer .opera{margin-top:.45rem;}
.form-outer .opera a:nth-of-type(1){float:left;margin-left: .28rem;}
.form-outer .opera a:nth-of-type(2){float: right;margin-right: .28rem;}
.form-outer .code-li input{width:3.48rem;padding-left: .2rem}
.form-outer .code-li .btn{width:2.3rem;padding: 0;height:.76rem;line-height: .76rem;margin-left:.2rem}
.form-outer .rules{font-size: 12px;margin-top:.3rem;vertical-align: middle;}
.form-outer .rules span, .form-outer .rules input, .form-outer .rules a{vertical-align: middle}
.form-outer .rules a{color:#386CB9}
.home-intro{font-size:.26rem;width:100%;margin:0 auto;text-align:center;}
.home-intro .font_family{color:#28BEE4;font-size:.8rem}
.section-line{width:100%;height:5px;background: #E9E7E3;margin:.32rem 0;}
.home-topic{overflow: hidden;}
.home-topic h3{text-align: center;font-size:.45rem;margin-bottom:.32rem;}
.home-topic .topic{position: relative;float:left}
.home-topic .topic img{width:3.73rem;height:3.73rem;position:absolute;left:0;top:0;}
.home-topic .topic .bg, .home-topic .topic .bg-text{width:100%;height:.5rem;position: absolute;left:0;bottom:.15rem;}
.home-topic .topic .bg div{width:2rem;height:.5rem;margin:0 auto;background:#000;opacity: .6;border-radius:.5rem;}
.home-topic .topic .bg-text div{width:2rem;height:.5rem;margin:0 auto;color:#fff;text-align:center;font-size:.2px;line-height:.5rem; }
.h5pc-wrap{text-align:center;}
.h5pc-wrap a{width:2.7rem;height:.8rem;line-height: .8rem;font-size:.32rem;padding:0;vertical-align: middle;background: #888384;border:1px solid #888384;}
.h5pc-wrap a label{font-size:.42rem;vertical-align: middle;margin-right: .12rem}
.h5pc-wrap a:nth-of-type(2){margin-left:.8rem;background: #fff;border:1px solid #B2A7A8;color:#B2A8A6;}
.home-bottom{padding-bottom:1rem;}
.home-bottom p{color:#867F7F;font-size:.3rem;margin-top:.22rem;padding-left: .35rem;}
.home-bottom p:nth-of-type(1){margin-top:.32rem;}
.home-bottom p span{vertical-align: middle;margin-right:.25rem;}
.qq-bg{background: url(images/qq.png);display:inline-block;width:2.09rem;height:.6rem;background-size: 2.09rem .6rem;}
.page-topic{width:6.8rem;margin:0 auto;}
.page-topic .intro{width:6.35rem;background: #FFFFD5;border:1px solid #FFBD7C;border-radius:4px;word-wrap: break-word;padding:.2rem;margin:.3rem 0;}
.page-topic .topic-wrap{overflow: hidden;margin-top:.3rem;}
.page-topic .topic-list{width:3.25rem;height:3.25rem;line-height:3.25rem;background:#FCF7F4;border:1px solid #CBC9C5;text-align:center;display: block;margin-bottom:.2rem;}
.page-topic .topic-list img{max-width:2.7rem;max-height:2.7rem;vertical-align: middle;}

.search-type{height:.73rem;width:100%;line-height: .73rem;text-align:center;position: fixed;border-bottom: 1px solid #CBC9C5;background:#FCF7F4}
.page-search .triangle{margin-left: .16rem;margin-top:-4px;position: relative;top:-2px;}
.search-bar{height:.73rem;width:100%;position: fixed;border-bottom: 1px solid #CBC9C5;background: #FCF7F4;}
.search-bar-item{position: absolute;top:0;left:0;width:25%;border-right: 1px solid #CBC9C5;height:.73rem;line-height: .73rem;text-align:center;}
.search-bar-item:nth-of-type(2){left:25%;}
.search-bar-item:nth-of-type(3){left:50%;}
.search-bar-item:nth-of-type(4){left:75%;border-right: 0;}
.search-bar-item-on{background: #3D3C3A;color:#fff;}
.search-scroll-wrap{position:absolute;width:100%;height:100%;position: fixed;left:0;top:2.35rem;overflow:scroll;}
.search-select{position: absolute;border:1px solid #CDC8C5;background:#FCF7F4;padding:.1rem 0 .1rem .3rem;width:1.9rem;z-index:5;left:50%;margin-left:-1.1rem;top:1.5rem;border-radius:.05rem}
.search-select .select-list{padding:.1rem 0;}
.search-select-1{left:0;margin:0;top:2.35rem;padding:0;width:25%;border-radius: 0 0 .05rem .05rem;border-left:0;text-align:center;}
.search-select-1 .select-list{margin-left:-.34rem;}